@inherits EditComponent<Task, TaskFactory, TaskView, MyContext>
@page "/tasks/{id:int}"
@using Microsoft.EntityFrameworkCore
@using ProjectManagement.Pages.Projects
@using ProjectManagement.Pages.Tasks

@inject NavigationManager NavigationManager

<h3>@View.GetName(): @Entity</h3>

@if (Loading)
{
    <div>Загрузка...</div>
}
else
{
    <p><button @onclick="Save" type="button" class="btn btn-primary">Сохранить</button></p>

    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />

        <div class="input-group mb-3">
            <span class="input-group-text">Наименование</span>
            <InputText @bind-Value="Entity.Name" class="form-control" />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Проект</span>
            <LookupComponent2 TEntity="Project" @bind-Entity="@(Entity.Project)" View="@(new ProjectAllView())" />
        </div>

        <div class="form-group">
            <div class="input-group mb-3">
                <label class="input-group-text">Статус</label>
                <EnumInputSelectComponent TEntity="TaskStatus" @bind-Value2="@Entity.Status" />
            </div>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Дата начала</span>
            <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="@Entity.StartDate" />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Дата конца</span>
            <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="@Entity.EndDate" />
        </div>

    </EditForm>
}

@code {
    public override IQueryable<Task> Include(DbSet<Task> dbSet)
    {
        return dbSet.Include(x => x.Project);
    }
}
