@inherits EditComponent<Project, ProjectFactory, ProjectView, MyContext>
@page "/projects/{id:int}"
@using Microsoft.EntityFrameworkCore
@using ProjectManagement.Pages.ProjectStatuses
@using ProjectManagement.Pages.Projects
@using ProjectManagement.Pages.Tasks

@inject NavigationManager NavigationManager

<h3>@View.GetName(): @Entity</h3>

@if (Loading)
{
    <div>Загрузка...</div>
}
else
{
    <p><button @onclick="Save" type="button" class="btn btn-primary">Сохранить</button></p>

    <EditForm EditContext="@editContext">
        <DataAnnotationsValidator />

        <div class="input-group mb-3">
            <span class="input-group-text">Наименование</span>
            <InputText @bind-Value="Entity.Name" class="form-control" />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Ссылка</span>
            <InputText @bind-Value="Entity.Link" class="form-control" />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Статус</span>
            <LookupComponent2 TEntity="ProjectStatus" @bind-Entity="@(Entity.Status)" View="@(new ProjectStatusAllView())" />
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Описание</span>
            <InputTextArea @bind-Value="Entity.Description" class="form-control" rows="10"/>
        </div>

    </EditForm>

    @if (Entity.Id != 0)
    {
        <DataGridComponent View=@(new TasksByProjectView(Entity.Id)) CreateButtonVisible="false" />
    }
}

@code {
    public override IQueryable<Project> Include(DbSet<Project> dbSet)
    {
        return dbSet.Include(x => x.Status);
    }
}
